//box order container
.order-box {
    display: flex;
    margin-top: 25px;
    transition: all 0.5s;
    padding: 2%;
    font-size: 20px;
    background-color: rgba(192, 192, 192, 0.5);
    font-weight: bold;
}
​
//order card
.orderr{
    border: 1px solid black;
    background: red;
    margin: 15px;
}