.register__box {
    width: 60%;
    margin: 5rem auto;
    border: 3px solid gold;
    border-radius: 20px;

    &--top {
        text-align: center;
        background-color: rgb(170, 170, 170);
        padding: 4em;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom: 2px solid gold;

        & h4 {
            font-size: 3rem;
            color: gold;
        }
    }

    &--form {
        background-image: linear-gradient(
                to right bottom,
                rgba(235, 231, 231, 0.5),
                rgba(149, 150, 146, 0.5)
            ),
            url(../../storage/app/public/home/cofee.jpg);
        background-size: cover;
        // background-size: cover;
        background-position: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        & form {
            padding: 3rem;
        }
    }
}

#registrati {
    margin-top: 2rem;
    background-color: transparent;
    transition: 0.25s;
    font-size: 2rem;
    border: 1px solid gold;
    &:hover {
        background-color: #2cbddc;
        margin-left: 5px;
        box-shadow: -5px 7px 7px 2px rgba(84, 84, 84, 1);
    }
}

// .background {
//     height: 100%;
// }

// .card-back {
//     width: 100%;
//     background-image: url(../../storage/app/public/home/cofee.jpg) !important;
//     background-size: cover;
//     background-position: top;
//     margin-top: 50px;
//     border-radius: 20px;
//     border: 2px solid gold;

//     .card-header {
//         font-size: 3rem;
//         color: gold;
//         border-bottom: 2px solid gold;
//         text-align: center;
//         text-transform: uppercase;
//         width: 100%;
//     }

//     label {
//         color: white;
//     }
// }

.tip-cont {
    display: flex;
    justify-content: center;
    .tip {
        text-align: center;
        color: white;
        &:hover {
            color: white;
        }
    }
}

// //typologies

ul > li {
    list-style-type: none;
    color: white;
}

// //btn registrati
// #registrati {
//     margin-top: 2rem;
//     background-color: transparent;
//     transition: 0.25s;
//     font-size: 2rem;
//     border: 1px solid gold;
//     &:hover {
//         background-color: #2cbddc;
//         margin-left: 5px;
//         box-shadow: -5px 7px 7px 2px rgba(84, 84, 84, 1);
//     }
// }

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color 0.4s ease;
    font-size: 1.5rem !important;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
    font-size: 2rem !important;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.typ {
    margin: 0 auto;
}

select {
    font-size: 1.5rem !important;
}

#pd button {
    font-size: 1.8rem;
    color: black;
}
