@media screen and (max-width: 700px) {
    html {
        font-size: 45%;
    }

    // DASHBOARD
    .dashboard__box--flex--left {
        width: 100%;
    }

    .dashboard__box--flex--right {
        width: 100%;
    }

    // MENU RISTORATORE

    .dashboard__box--flex--menu--left {
        width: 20%;

        & .new-plate,
        & .go-back {
            display: none;
        }

        & .plus,
        & .arrow {
            display: block;
        }
    }

    .dashboard__box--flex--menu--right {
        width: 80%;
    }
}
