@media screen and (max-width: 700px) {
    html {
        font-size: 45%;
    }

    .dashboard__box--flex--menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .dashboard__box--flex--menu--left {
        background: red;
    }

    .dashboard__box {
        width: 100%;
        height: auto;
        h3 {
            font-size: 3rem;
        }
        h5 {
            font-size: 2rem;
        }
        .dish__box {
            margin: 0.5rem auto;
            width: 250px;
        }
    }
    .dashboard {
        padding: 5rem 0.5rem;
    }
    // DASHBOARD
    .dashboard__box--flex--left {
        width: 100%;
    }

    .dashboard__box--flex--right {
        width: 100%;
    }

    // MENU RISTORATORE

    .dashboard__box--flex--menu--left {
        width: 10%;
        display: block;

        & .new-plate,
        & .go-back {
            display: none;
        }

        & .plus,
        & .arrow {
            display: block;
        }
    }

    .dashboard__box--flex--menu--right {
        width: 80%;
    }
}
