// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.dNone{display:none;}

body{
    background: rgb(44, 44, 44);
    color: white;
    .card {
        color: black;
    }
    .navbar{
        background-color: black;

        .container{
            .navbar-brand, .nav-link {
                color: white;
                transition: all 0.10s;
                font-size: 17.5px;            
            }
            
            .nav-link:hover{
                font-size: 17.5px;
                color: black;
                padding: 7.5px 10px;
                background-color: white;
            }

            
        }


    }

    a{
        color: white !important;
    }

    

}